body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.top-line {
  border-bottom: 1px solid #e7e9fc;
}

.top-line-container {
  display: flex;
  align-items: center;
}

.top-line-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
}

.contacts-lists {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: auto;
}

.top-line-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
}

.logo .logo-second-part {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
}

.top-line .logo,
.top-line .contacts-link,
.top-line .nav-link {
  text-decoration: none;
}

.nav-list .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-lists {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts .contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: #404bbf;
}

.hero-section {
  background: #2e2f42;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-section-service {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-section-service:hover,
.hero-section-service:focus {
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature .feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-container {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.feature-card {
  width: calc((100% - 72px) / 4);
}

.feature .feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.feature-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.feature-title {
  margin-bottom: 8px;
}

.team {
  background: #f4f4fd;
}

.team-container {
  padding: 0 15px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-card {
  background: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-set {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-card-container {
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 32px 0;
}

.project-container {
  padding: 0 15px;
}

.project-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.project-card {
  width: calc((100% - 48px) / 3);
}

.project-card-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.project-card-container {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.final-part {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-f-p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-f-p .logo-second-part-f-p {
  color: #f4f4fd;
}

.final-part-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-final-part {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  display: inline-block;
  margin-bottom: 16px;
}

.final-part-text {
  text-align: left;
  width: 264px;
}
